body{
    background: rgba(200, 199, 198, 0.333);
}

/* ---------- Title ---------- */
h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40;
    font-family: sans-serif;
}

h5 {
    text-align: center;
    font-size: 20;
    margin-top: 5px;
    font-family: 'Verdana';
    font-weight: normal;
    color: gray;
    font-size: medium;
    margin-bottom: 50px;
}

/* ---------- Timeline ---------- */
.timeline {
    margin: 0 auto;
    max-width: 750px;
    align-content: baseline;
    margin-bottom: 50px;
    display: grid;
    position: relative;
}

/* Timeline Line */
.timeline::after {
    content: '';
    position: absolute;
    left: 38%; /* Positions the line in the middle */
    width: 2px;
    top: 0;
    bottom: 0;
    background: black;
    margin-left: -1px; /* Centers the line */
}

/* Timeline Item (Each Entry) */
.timeline-item {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    position: relative;
    gap: 6.5rem;
    margin-bottom: 10px;
}

/* Timeline Dots */
.timeline-item::before {
    content: '';
    position: absolute;
    width: 20px; /* Adjust dot size*/
    height: 20px; /* Adjust dot size*/
    background: black;
    border-radius: 50%; 
    left: calc(38% - 10px); /* Centers the dot */
    top: 1rem;
}

/* Content */
.tm-date {
    color: rgb(97, 97, 97);
    text-align: right;
    font-family: Verdana;
    font-size: medium;
    font-weight: normal;
}

.tm-text {
    font-family: Verdana;
    font-weight: 500;
}

/* ---------- Button ---------- */
.button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    border-radius: 10px;
    border-style: hidden;
    padding: 10px 20px;
}