/* ----mobile default------ */
h4 {
    text-align: center;
    color: white;
    font-size: larger;
    margin-top: 30px;
}

body {
    margin: 40px 30px;
    background-color: black;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    margin: 30px auto 10px auto;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1em;
}


/* Tablet version */
@media (min-width: 768px) {
    h4 {
        font-size: 30px;
        margin-top: 40px;
    }

    body {
        margin: 40px 30px;
    }

    main {
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        gap: 10px;
    }

    #container1 {
        grid-area: 1 / 1 / span 2 / span 1;
    }

    #container2 {
        grid-area: 1 / 2 / span 1 / span 1;
    }

    #container3 {
        grid-area: 4 / 2 / span 1 / span 1;
    }

    #container4 {
        grid-area: 2 / 2 / span 2 / span 1;
    }

    #container5 {
        grid-area: 3 / 1 / span 2 / span 1;
    }

    #container6 {
        grid-area: auto / auto / span 1 / span 2;
    }
}

/* --laptop's version -- */
@media (min-width: 1024px) {
    h4 {
        text-align: center;
        margin: 50px;
        color: white;
        font-size: larger;
    }

    body {
        margin: 30px 150px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        margin-top: 30px;
    }

    #container1 {
        grid-area: 1 / 1 / span 2 / span 1;
    }

    #container2 {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    #container3 {
        grid-area: 1 / 2 / span 1 / span 1;
    }

    #container4 {
        grid-area: 2 / 2 / span 2 / span 1;
    }

    #container5 {
        grid-area: 1 / 3 / span 2 / span 1;
    }

    #container6 {
        grid-area: 3 / 3 / span 1 / span 1;
    }
}

/* large desktop version */
@media (min-width: 1920px) {
    h4 {
        font-size: 100px;
        margin-top: 50px;
    }

    body {
        margin: 40px 50px;
    }

    main {
        margin-top: 10px;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: repeat(6, minmax(0, 1fr));
        align-content: space-around;
        row-gap: 1rem;
        gap: 40px;
    }

    #container1 {
        grid-area: 1 / 1 / span 6 / span 2;
    }

    #container2 {
        grid-area: 1 / 4 / span 3 / span 2;
    }

    #container3 {
        grid-area: 4 / 3 / span 3 / span 2;
    }

    #container4 {
        grid-area: 1 / 3 / span 3 / span 1;
    }

    #container5 {
        grid-area: 1 / 6 / span 3 / span 1;
    }

    #container6 {
        grid-area: auto / auto / span 3 / span 2;
    }
}