body {
    background-color: rgb(19, 14, 31);
  }
  
  header {
    text-align: center;
    color: white;
    margin: 20px;
    margin-top: 10%;
  }
  
  nav {
    display: flex;
    margin-top: 5%;
    align-items: center;
    flex-direction: column;
  }
  
  nav ul {
    display: flex;
    gap: 10rem;
    align-items: center;
    list-style-type: none;
    padding: 10px;
  }
  
  nav ul li {
    position: relative;
    padding-top: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 12px;
    margin-top: 20px;
  }
  
  nav ul li a:hover {
    background-color: rgba(116, 137, 165, 0.456);
    border-radius: 8px;
    padding: 10px 12px;
  }
  
  .tooltip {
    background-color: white;
    color: black;
    text-align: center;
    white-space: nowrap;
    width: max-content;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* default hidden */
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  nav ul li:hover .tooltip {
    opacity: 1;
  }
  
  /* Tooltip arrow */
  .tooltip::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 90%;
    background-color: white;
    width: 15px;
    height: 15px;
    clip-path: polygon(0 0, 49% 100%, 100% 0);
    transform: translate(-50%);
  }
  
  /* Specific styles for each tooltip based on list position */
  
  /* Home */
  nav ul li:nth-child(1) .tooltip {
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  nav ul li:nth-child(1):hover .tooltip {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  
  /* Projects */
  nav ul li:nth-child(2) .tooltip {
    transform: translate(-10%, 0);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  nav ul li:nth-child(2):hover .tooltip {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  
  /* Blog */
  nav ul li:nth-child(3) .tooltip {
    transform: translate(-50%, 30%) scale(80%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  nav ul li:nth-child(3):hover .tooltip {
    transform: translate(-50%, 0) scale(100%);
    opacity: 1;
  }
  
  /* Contact */
  nav ul li:nth-child(4) .tooltip {
    transform: translate(-50%, -30%) scale(130%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  nav ul li:nth-child(4):hover .tooltip {
    transform: translate(-50%, 5%) scale(95%);
    opacity: 1;
  }